<main class="container">
  <h2 class="mb-5">Nuevo Producto</h2>
  <form>
    <div class="row">
      <div class="col mb-3 column-gap-2">
        <label for="code" class="form-label">Codigo</label>
        <input type="number" class="form-control" id="code" />
      </div>
      <div class="col mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" />
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" class="form-control" id="price" />
    </div>
    <div class="mb-3">
      <label for="desription" class="form-label">Descripción</label>
      <textarea id="description" class="form-control" rows="4"></textarea>
    </div>
    <div class="mb-3">
      <label for="imageUrl" class="form-label">Url Imagen</label>
      <input type="url" class="form-control" id="imageUrl" />
    </div>
  </form>
</main>
