<main class="container">
  <h1 class="text-center mb-5">Listado de usuarios</h1>

  @for (user of users(); track user.username) {
    <div class="card shadow mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.username }}</h6>
        <p class="card-text">{{ user.email }}</p>
        <p>
          <span class="badge text-bg-secondary">{{ user.active ? 'Activo' : 'Inactivo' }}</span>
        </p>
        <a href="#" class="btn btn-primary" [routerLink]="['/users', user.username]">Ver detalle</a>
      </div>
    </div>
  }
</main>
