<main class="container mt-5">
  <h2 class="text-info mb-4">Tu Carrito de Compras</h2>

  @if (cartItems().length === 0) {
    <div class="alert alert-dark text-center">
      Tu carrito está vacío. <a routerLink="/products" class="text-info">Volver a la tienda</a>
    </div>
  } @else {
    <div class="table-responsive">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          @for (item of cartItems(); track item.product.code) {
            <tr>
              <td class="align-middle">{{ item.product.name }}</td>
              <td class="align-middle">
                {{ item.product.price | currency: 'COP' : 'symbol-narrow' : '1.0-0' }}
              </td>
              <td class="align-middle">{{ item.quantity }}</td>
              <td class="align-middle fw-bold text-success">
                {{
                  item.product.price * item.quantity | currency: 'COP' : 'symbol-narrow' : '1.0-0'
                }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div
      class="mt-4 p-4 border-top border-secondary d-flex justify-content-between align-items-center bg-dark rounded"
    >
      <button class="btn btn-outline-danger" (click)="clearCart()">
        <i class="bi bi-trash"></i> Vaciar Carrito
      </button>

      <div class="d-flex align-items-center gap-4">
        <h3 class="text-white mb-0">
          Total: <strong>{{ total() | currency: 'COP' : 'symbol-narrow' : '1.0-0' }}</strong>
        </h3>

        <button class="btn btn-primary btn-lg px-4" (click)="onCheckout()">Finalizar Compra</button>
      </div>
    </div>
  }
</main>
